In [69]:
import pandas as pd
import networkx as nx

In [70]:
df = pd.read_csv("trade_data_2000s.csv", index_col=0)

In [71]:
df

,location_id,partner_id,product_id,year,export_value,import_value,sitc_eci,sitc_coi,location_code,partner_code,sitc_product_code
945000,3,6,1352,2003.0,0.0,4281.0,1.535351,0.268432,AIA,ANT,8423
945001,25,6,1352,2003.0,0.0,26220.0,0.308971,-0.561269,BHS,ANT,8423
945002,29,6,1352,2003.0,0.0,84921.0,-0.546138,-0.787781,BLZ,ANT,8423
945003,32,6,1352,2003.0,8011.0,0.0,0.636739,1.422593,BRA,ANT,8423
945004,33,6,1352,2003.0,0.0,2387.0,0.499073,-0.065065,BRB,ANT,8423
...,...,...,...,...,...,...,...,...,...,...,...
3982467,166,242,1363,2019.0,2379.0,0.0,0.099708,0.079208,NZL,WSM,8443
3982468,127,210,1363,2019.0,0.0,2392.0,0.263772,-0.709830,LCA,SXM,8443
3982469,231,210,1363,2019.0,11067.0,0.0,1.528196,0.297825,USA,SXM,8443
3982470,77,27,1363,2019.0,1706.0,0.0,1.345057,1.075400,FRA,BLM,8443
3982471,111,27,1363,2019.0,7030.0,0.0,1.333154,0.528624,ITA,BLM,8443

In [72]:
df_grouped = df.groupby(['location_id', 'partner_id','year']).sum().reset_index()

In [73]:
df_grouped_first = df_grouped.drop(['sitc_eci', 'sitc_coi','location_code','partner_code','sitc_product_code'], axis=1)
df_grouped_second = df_grouped_first.copy()

In [74]:
df_grouped_first

,location_id,partner_id,year,product_id,export_value,import_value
0,0,6,2005.0,31389,860510.0,3276527.0
1,0,6,2006.0,30017,1027015.0,96392.0
2,0,6,2007.0,30006,1014011.0,257016.0
3,0,6,2008.0,27280,1216843.0,103197.0
4,0,6,2009.0,34065,124191.0,3156666.0
...,...,...,...,...,...,...
388479,250,249,2014.0,32736,1921886.0,247429.0
388480,250,249,2015.0,32730,1593013.0,195494.0
388481,250,249,2016.0,30021,2281034.0,1948209.0
388482,250,249,2017.0,31346,1438130.0,1628499.0
388483,250,249,2018.0,32734,2140392.0,1551708.0

In [75]:
new_df = pd.merge(df_grouped_first, df_grouped_second,  how='left', left_on=['location_id','partner_id','year'], right_on = ['partner_id','location_id','year'])

In [76]:
new_df

,location_id_x,partner_id_x,year,product_id_x,export_value_x,import_value_x,location_id_y,partner_id_y,product_id_y,export_value_y,import_value_y
0,0,6,2005.0,31389,860510.0,3276527.0,6,0,31389,3276527.0,860510.0
1,0,6,2006.0,30017,1027015.0,96392.0,6,0,30017,96392.0,1027015.0
2,0,6,2007.0,30006,1014011.0,257016.0,6,0,30006,257016.0,1014011.0
3,0,6,2008.0,27280,1216843.0,103197.0,6,0,27280,103197.0,1216843.0
4,0,6,2009.0,34065,124191.0,3156666.0,6,0,34065,3156666.0,124191.0
...,...,...,...,...,...,...,...,...,...,...,...
388479,250,249,2014.0,32736,1921886.0,247429.0,249,250,32736,247429.0,1921886.0
388480,250,249,2015.0,32730,1593013.0,195494.0,249,250,32730,195494.0,1593013.0
388481,250,249,2016.0,30021,2281034.0,1948209.0,249,250,30021,1948209.0,2281034.0
388482,250,249,2017.0,31346,1438130.0,1628499.0,249,250,31346,1628499.0,1438130.0
388483,250,249,2018.0,32734,2140392.0,1551708.0,249,250,32734,1551708.0,2140392.0

In [77]:
final_df = new_df.drop(['location_id_y', 'partner_id_y','product_id_y','product_id_x'], axis=1)
final_df = final_df.rename(columns={'location_id_x': 'location_1', 
                                    'partner_id_x': 'location_2',
                                    'export_value_x':'export_ij',
                                    'export_value_y':'export_ji',
                                    'import_value_x':'import_ij',
                                    'import_value_y':'iimport_ji'})

In [78]:
final_df

,location_1,location_2,year,export_ij,import_ij,export_ji,iimport_ji
0,0,6,2005.0,860510.0,3276527.0,3276527.0,860510.0
1,0,6,2006.0,1027015.0,96392.0,96392.0,1027015.0
2,0,6,2007.0,1014011.0,257016.0,257016.0,1014011.0
3,0,6,2008.0,1216843.0,103197.0,103197.0,1216843.0
4,0,6,2009.0,124191.0,3156666.0,3156666.0,124191.0
...,...,...,...,...,...,...,...
388479,250,249,2014.0,1921886.0,247429.0,247429.0,1921886.0
388480,250,249,2015.0,1593013.0,195494.0,195494.0,1593013.0
388481,250,249,2016.0,2281034.0,1948209.0,1948209.0,2281034.0
388482,250,249,2017.0,1438130.0,1628499.0,1628499.0,1438130.0
388483,250,249,2018.0,2140392.0,1551708.0,1551708.0,2140392.0

In [79]:
final_df['edge_value'] = (final_df['export_ij']+final_df['export_ji']+final_df['import_ij']+final_df['iimport_ji'])/2

In [80]:
final_df

,location_1,location_2,year,export_ij,import_ij,export_ji,iimport_ji,edge_value
0,0,6,2005.0,860510.0,3276527.0,3276527.0,860510.0,4137037.0
1,0,6,2006.0,1027015.0,96392.0,96392.0,1027015.0,1123407.0
2,0,6,2007.0,1014011.0,257016.0,257016.0,1014011.0,1271027.0
3,0,6,2008.0,1216843.0,103197.0,103197.0,1216843.0,1320040.0
4,0,6,2009.0,124191.0,3156666.0,3156666.0,124191.0,3280857.0
...,...,...,...,...,...,...,...,...
388479,250,249,2014.0,1921886.0,247429.0,247429.0,1921886.0,2169315.0
388480,250,249,2015.0,1593013.0,195494.0,195494.0,1593013.0,1788507.0
388481,250,249,2016.0,2281034.0,1948209.0,1948209.0,2281034.0,4229243.0
388482,250,249,2017.0,1438130.0,1628499.0,1628499.0,1438130.0,3066629.0
388483,250,249,2018.0,2140392.0,1551708.0,1551708.0,2140392.0,3692100.0